/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
	box-sizing:border-box;
}
/* CSS Reset end */

.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display:flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
	background: hsl(0, 0%, 94%);
	color: black;
	font-size: 15px;
}

.main{
    width: 600px;
    background: hsl(0, 0%, 100%);
    border-radius: 10px 10px 100px 10px;
    padding: 30px;
}

label{
    margin-bottom: 10px;
}

.item{
    display:flex;
    flex-direction: column;
    color:hsl(0, 1%, 44%);
}

.input{
    display:flex;
}

input, input:hover{
    width: 130px;
    height: 65px;
    border-radius:10px;
    border-color:hsl(0, 0%, 86%);
    margin-right: 20px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
}

input:hover{
    border-color:hsl(259, 100%, 65%);
    cursor: pointer;
}

input::placeholder {
    color: hsl(0, 1%, 44%);
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    text-align: center;
}

.horizontal-line {
    border-top: 1px solid hsl(0, 0%, 86%); 
    transform: translateY(30px);
    width: 460px;
    position: relative;
}

.submit{
    display:flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.submit_bg,.submit_bg:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    background: hsl(259, 100%, 65%);
}

.submit_bg:hover{
    background: hsl(0, 0%, 8%);
    cursor:pointer;
}

h1{
    font-size:70px;
    font-weight: 800;
    font-style: italic;
}

span{
    color:hsl(259, 100%, 65%);
}

.day_err, .month_err, .year_err{
    padding-top: 10px;
    color:hsl(0, 100%, 67%);
    font-size:13px;
    font-weight: 400;
    font-style: italic;
}


@media(max-width:430px){
    .main{
        width:90%;
    }

    input, input:hover{
        width:90%;
        font-size: 22px;
    }
 
    h1{
        font-size:55px;
    }

    input::placeholder {
        font-size: 22px;
    }

    .horizontal-line {
        width: 340px;
    }

    .submit{
        justify-content: center;
    }

    .day_err, .month_err, .year_err{
        font-size:10px;
    }

}